<!-- The ngCloak directive is used to prevent the Angular html template from being briefly displayed by the browser in its raw (uncompiled) form while your application is loading. Use this directive to avoid the undesirable flicker effect caused by the html template display -->

<div ng-cloak>  
  <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-lg="4" md-cols-gt-lg="6" md-gutter="1em" md-gutter-gt-sm="1em" md-row-height="175px" md-row-height-lg="160px">
    <md-grid-tile ng-repeat="project in projects">
      <md-card class="proj-card-size">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{project.name}}</span>
            <span class="md-subhead">{{project.description}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
<!--          <md-button ng-click="getSprints(project._id)">Sprints</md-button>-->
          <a ng-href="#/projects/{{project._id}}">Sprints</a>
          <md-button>Settings</md-button>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>

<style>
  .proj-card-size {
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: 0; /* Remove the 8px margin default from the card element*/
  }
</style>
