<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="close()">
      <md-icon> menu </md-icon>
    </md-button>
    <h2>
      <span>Toolbar with Icon Buttons</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon>more_vert</md-icon>
    </md-button>

    <md-button class="md-raised"  aria-label="Logout" ng-show="authenticated" ng-click="signout()">
      Logout
    </md-button>
    
  </div>
  <span flex></span>
  <md-tabs ng-show=false md-stretch-tabs="auto" md-center-tabs md-selected="data.selectedIndex">
    <md-tab id="tab1">
      <a href="#/view1"> View 1 </a>
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
      DOING
    </md-tab>
    <md-tab id="tab3" aria-controls="tab3-content">
      DONE
    </md-tab>
  </md-tabs>
</md-toolbar>