    <form class="form-auth" ng-submit="login()">
      <div layout-gt-sm="row">
        <p class="text-warning">{{error_message}}</p>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating placeholder instead of label -->
          <md-icon class="username">person</md-icon>
          <input ng-model="user.username" type="name" placeholder="Username" ng-required="true">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <md-icon class="password">https</md-icon>
          <input ng-model="user.password" type="password" placeholder="Password" ng-required="true">
        </md-input-container>
        <input type="submit" value="Log in" class="btn btn-primary"/>
      </div>
    </form>